@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Tilt+Warp&display=swap');

/* TODO: Week 07 - The colors you choose for a website are one of the most important decisions you will make. Follow the instructions on the activity in iLearn. You should have at least 2 colors but do not have to fill in all 4 if you do not need them. */
:root {
  /* TODO: Week07 - change the values below to your colors from your palette */
  --primary-color: #713162;
  --secondary-color: #FF0BAC;
  --accent1-color: #35F0D0;
  --accent2-color: #FFDD64;

  /* TODO: Week07 - change the values below to your chosen font(s). */
  /* TODO: Week07 - make sure you provide more than one font option for each to handle fallback */
  --heading-font: "Luckiest Guy", "Sigmar", "Kanit", "Roboto";
  --paragraph-font: "Tilt Warp", "Lato", Helvetica, sans-serif;

  /* TODO: Week07 - these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #713162; /* headlines on a white background */
  --headline-color-on-color: #FFDD64; /* headlines on a colored background */
  --paragraph-color-on-white: #713162; /* paragraph text on a white background */
  --paragraph-color-on-color: #FFDD64; /* paragraph text on a colored background */
  --paragraph-background-color: #713162;
  --nav-link-color: #713162;
  --nav-background-color: #FF0BAC;
  --nav-hover-link-color: #FFDD64;
  --nav-hover-background-color: #713162;
  /* TODO: Week07 - test out your colors using by viewing your html and interacting with it.
   * - Make sure the contrast is enough that things can be easily read (i.e. https://coolors.co/contrast-checker/)
   */
}

/* My added css */

body {
    background-color: #713162;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

#content {
    margin: 0 auto;
    color: #FFDD64;
    text-align: center;
}

#coverart {
    border: 20px solid;
    border-color: #35F0D0;
}

h1, h2 {
    font-family: var(--heading-font);
    letter-spacing: 3px;
    padding: 0em 6em;
}

p {
    font-family: var(--paragraph-font);
    padding: 1em 12em;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: var(--nav-background-color);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a:hover {
    background-color: #713162;
    color: #35F0D0;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.social img {
    height: 100%;
  }
  
nav a {
    color: #713162;
    text-align: center;
    text-decoration: none;
    font-family: var(--paragraph-font);
    padding: 35px;
}

footer {
    background-color: #FF0BAC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 50px;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 140px;
    object-position: bottom;
    padding: 10px;
}

footer p:nth-child(1) {
    grid-column: 1/5;
    grid-row: 2/3;
}

footer p:nth-child(2) {
    grid-column: 1/2;
}

footer p:nth-child(3) {
    grid-column: 2/3;
}

footer p:nth-child(4) {
    grid-column: 3/4;
}

footer p:nth-child(5) {
    grid-column: 4/5;
}

footer .social {
    grid-column: 5/6;
    grid-row: 1/-1;
    height: 100%;
    display: flex;
}
  
footer p {
    font-size: 1.2em;
    color: #713162;
    padding: 0;
    margin: 0;
}
  
footer p a:hover {
    text-decoration: underline;
}
  
footer a {
    color: var(--nav-link-color);
    text-decoration: none;
}
  
footer a:hover {
    color: var(--nav-hover-link-color);
}
  
/* Home Content */
.home-content {
display: grid;
padding-top: 50px;
}

.home-content img:nth-of-type(1) {
    justify-self: center;
}

.home-content #footer-img {
    position: relative;
    overflow: hidden;
    aspect-ratio: 6/2;
}

.home-content #footer-img img {
    width: 100%;
    bottom: 0;
    object-position: bottom;
    object-fit: cover;
    position: absolute;
    right: 0;
    aspect-ratio: 6/2;
}

.home-content p:nth-of-type(1) {
    margin-bottom: 10em;
}

/* Gameplay Content */
/* Container holding the image and the text */

.gameplay-content #second-image {
    justify-self: left;
    float: left;
}

.container {
    position: relative;
    text-align: center;
    color: #FFDD64;
    font-family: var(--paragraph-font);
}

.container img {
position: relative;
left: 5%;

}

/* Bottom left text */
.bottom-left {
position: absolute;
bottom: 20%;
left: 20%;
max-width: 430px;
}

/* Story Content */

.story-content img:nth-of-type(1) {
    float: right;
    justify-self: right;
}

.story-content img:nth-of-type(2) {
    border: 15px, solid, #35F0D0;
}

@media screen and (max-width: 1350px) {

    h1 {
        font-size: 1em;
    }
    h2 {
        font-size: 1em;
    }
}

@media screen and (min-width: 1536px) {
    .bottom-left {
        position: absolute;
        bottom: 20%;
        left: 20%;
        max-width: 430px;
        }
}