header {
    background-color: rgba(20,30,13, .7);
}

body {
    background-color: #fcfbfb;
}

div {
    max-width: 1600px;
}

#content {
    margin: 0 auto;
}

nav a {
    text-align: center;
}

nav a:hover{
    background-color: black;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.msg {
    background-color: lightcoral;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: pink;
}

.book:hover, .join:hover {
    background-color: purple;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: red;
}

footer {
    background-color: green;
}